@{
    ViewBag.Title = "Sending Email";
}

<h1>Send your email</h1>

<ul>
    <li>@Html.ActionLink("Send Welcome Email", "Welcome")</li>
    <li>@Html.ActionLink("Send Goodbye Email", "Goodbye")</li>
</ul>
